version: "3"

services:
  backend:
    container_name: infisical-backend
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    image: infisical/infisical:v0.155.6 # PIN THIS TO A SPECIFIC TAG
    env_file: .env
    environment:
      - NODE_ENV=production
    networks:
      - infisical
      - traefik_proxy
    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.infisical.entrypoints=websecure"
    - "traefik.http.routers.infisical.rule=Host(`infisical.home.m1xxos.tech`)"
    - "traefik.http.routers.infisical.service=infisical"
    - "traefik.http.routers.infisical.tls=true"

  redis:
    image: redis:8.4.0-alpine
    container_name: infisical-dev-redis
    env_file: .env
    restart: always
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    networks:
      - infisical
    volumes:
      - redis_data:/data

  db:
    container_name: infisical-db
    image: postgres:14-alpine
    restart: always
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - infisical
    healthcheck:
      test: "pg_isready --username=${POSTGRES_USER} && psql --username=${POSTGRES_USER} --list"
      interval: 5s
      timeout: 10s
      retries: 10

volumes:
  pg_data:
    driver: local
  redis_data:
    driver: local

networks:
  infisical:
  traefik_proxy:
    external:
      name: traefik_proxy
