services:
    changedetection:
      image: ghcr.io/dgtlmoon/changedetection.io:0.52.9
      container_name: changedetection
      hostname: changedetection
      volumes:
        - changedetection-data:/datastore
      environment:
        - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000
        - BASE_URL=https://cd.home.m1xxos.tech
        - TZ=Europe/Moscow
      networks: 
       - changedetection
       - traefik_proxy
      restart: unless-stopped
      labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cd.entrypoints=websecure"
      - "traefik.http.routers.cd.rule=Host(`cd.home.m1xxos.tech`)"
      - "traefik.http.services.cd.loadbalancer.server.port=5000"
      - "traefik.http.routers.cd.tls=true"
      - "traefik.docker.network=traefik_proxy"
    playwright-chrome:
      hostname: playwright-chrome
      image: browserless/chrome
      restart: unless-stopped
      networks: 
       - changedetection
      environment:
        - SCREEN_WIDTH=1920
        - SCREEN_HEIGHT=1024
        - SCREEN_DEPTH=16
        - ENABLE_DEBUGGER=false
        - PREBOOT_CHROME=true
        - CONNECTION_TIMEOUT=300000
        - MAX_CONCURRENT_SESSIONS=10
        - CHROME_REFRESH_TIME=600000
        - DEFAULT_BLOCK_ADS=true
        - DEFAULT_STEALTH=true
        - DEFAULT_IGNORE_HTTPS_ERRORS=true

volumes:
  changedetection-data:

networks:
  changedetection:
  traefik_proxy:
    external:
      name: traefik_proxy
